body {
    margin: 0;
    padding: 0;
    height: 50vh;
}
.header {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    color: black;
    background-color: azure;
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.1);
    position: relative;
}
button {
    width: 200px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #308128;
    border: 1px;
    color: aliceblue;
    cursor: pointer;
}
.align-side {
    flex: 1 1 20%;
}
.align-mid {
    flex: 1 1 80%;
    display: flex;
    justify-content: space-between;
}
.navbars {
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 20px;
}
.navbars a {
    font-size: 24px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
a:hover {
    transform: scale(1.05);
}
.logo {
    padding: 10px 20px;
    align-items: center;
    color: white;
    background-color: black;
    border-radius: 5px;
    font-size: 24px;
}
.intro {
    width: 100%;
    height: 90vh;
}
.none-underline {
    text-decoration: none;
}
.have-underline {
    text-decoration: underline;
}
.wrapper {
    width: 90%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
}
.wrapper .card {
    flex: 1;
    margin-top: 40px;
    height: 500px;
    border-radius: 7px;
    background: #00ffd9;
    cursor: pointer;
    transition: all 0.25 s ease;
}
.wrapper:hover> :not(:hover) {
    filter: blur(5px);
    opacity: .5;
}